@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root {
  display: flex;
  min-height: 100vh;
}

@font-face {
  font-family: "Canterbury-Regular";
  src: url("./fonts/Canterbury.woff") format("woff"),
    url("./fonts/Canterbury.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
