@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#root {
  display: flex;
  min-height: 100vh;
}

@font-face {
  font-family: "Killigrew";
  font-style: normal;
  font-weight: normal;
  src: local("Killigrew"), url("./fonts/Killig.woff") format("woff");
}

@font-face {
  font-family: "KilligrewStacatto";
  font-style: normal;
  font-weight: normal;
  src: local("KilligrewStacatto"), url("./fonts/Killigs.woff") format("woff");
}
